BODY{

    
    font-family: 'Teko', sans-serif;
    margin :0%;

}
h1{

font-size: 50; 


}

.blue-color{

    color: blue;

}
section
{
display : flex;
margin-bottom: 120px;

}
.first-div
{ 
 width : 10%;
 padding: 10px;
 margin: 10px;
 
}
.first div img 
{
width : 5%;
height: 5%;



}
.link-button
{
   text-decoration:none;
   background-image: linear-gradient(rgb(209, 209, 228),white);
   background-color: blue;
   padding : 10px 40px;
   border-radius: 5px;

}
.top
{
   background-image:url(image/top-banner.png) ; 
   background-repeat: no-repeat ;
}
.dream-big
{
   background-image:url(image/dream-bg.png) ;
   background-repeat: no-repeat;
   background-position: right ;
}